body {
  font-family: 'Roboto', monospace;
}

.content-section.introduction {
  text-align: center;
}

.content-section.introduction {
  padding-top: 60px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .content-section.introduction {
    padding-top: 100px;
    padding-bottom: 10px;
  }
}

.content-section.introduction .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .content-section.introduction .avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
  }
}

.content-section.introduction .label {
  max-width: 800px;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 30px;
}

/* .content-section .content-header-text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
} */

.row {
  width: 100%;
}

.content-section .content-body p {
  font-size: 1rem;
  text-align: left;
}

.content-section {
  text-align: center;
}

.content-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .content-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.content .content-header .content-header-text {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  /* text-align: center; */
}

.content .content-body .summary {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  /* text-align: center; */
}

.content .content-header .content-header-text {
  font-size: 1rem;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.content .content-body .content-list .content-text {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content .content-body .content-list .content-text-bold {
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content .content-body .content-list .image-item {
  max-width: 100%;
  height: auto;
  display: inherit;
}

@media (min-width: 768px) {
  .content .content-body .content-list .image-item {
    max-width: 100%;
    height: auto;
    display: inherit;
  }
}

@media (min-width: 992px) {
  .content .content-body .content-list .image-item {
    max-width: 100%;
    height: auto;
    display: inherit;
  }
}

/* content-bubble-list */
@media screen and (max-width: 992px) {
  .content .content-body .content-bubble-list .content-bubble {
    margin: 1em 0 1em 1em;
  }
}

.content .content-body .content-bubble-list .content-bubble {
  padding: 5px 0px 5px 0px;
}

.content .content-body .content-bubble-list .content-bubble:hover {
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .content .content-body .content-bubble-list .content-bubble .content-item {
    border: 1px solid #dee2e6 !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 5px;
    background-color: rgba(234, 242, 245, 0.9);
  }
}

@media (min-width: 992px) {
  .content .content-body .content-bubble-list .content-bubble .content-item {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  .content
    .content-body
    .content-bubble-list
    .content-bubble
    .content-item:hover {
    border: 1px solid #dee2e6 !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 5px;
    background-color: rgba(234, 242, 245, 0.9);
  }
}

@media (min-width: 992px) {
  .content .content-body .content-bubble-list .content-bubble .content-item {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}

.content .content-body .content-bubble-list .content-bubble .content-text {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content .content-body .content-bubble-list .content-bubble .content-text-bold {
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content .content-body .content-bubble-list .content-bubble .image-item {
  max-width: 100%;
  height: auto;
  display: inherit;
}

@media (min-width: 768px) {
  .content .content-body .content-bubble-list .content-bubble .image-item {
    max-width: 100%;
    height: auto;
    display: inherit;
  }
}

@media (min-width: 992px) {
  .content .content-body .content-bubble-list .content-bubble .image-item {
    max-width: 100%;
    height: auto;
    display: inherit;
  }
}

.content-bubble-list .content-bubble .content-item .content-card-img {
  display: none;
}

@media (min-width: 768px) {
  .content-bubble-list .content-bubble .content-item .content-card-img {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* display: inherit; */
    display: inline-block !important;
  }
}

/* content-bubble-list */

.content-list .content-item .content-card-img {
  display: none;
}

@media (min-width: 768px) {
  .content-list .content-item .content-card-img {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* display: inherit; */
    display: inline-block !important;
  }
}

.content-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-container {
  padding-bottom: 10px;
}

.gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 250px;
  margin: auto auto 1rem;
  /* padding: 10px 10px 10px 10px; */
}

@media (min-width: 768px) {
  .gallery-item {
    /* max-width: none; */
    max-width: 300px;
    /* margin: 0; */
    margin: auto auto 1rem 1rem;
  }
}

@media (min-width: 360px) {
  .gallery-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
  }
}

@media (min-width: 992px) {
  .gallery-item:hover .caption,
  .gallery-item:hover img {
    /*-webkit-clip-path: inset(2rem);*/
    /*clip-path: inset(2rem);*/
  }
}

@media (min-width: 992px) {
  .gallery-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}

.gallery-item .caption {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: rgba(33, 37, 41, 0.2); */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media (min-width: 992px) {
  .gallery-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
}

.gallery-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.gallery-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.gallery-item .caption .caption-content .mb-0 {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}

@media (min-width: 768px) {
  .gallery-item .caption .caption-content .mb-0 {
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
  }
}

@media (min-width: 992px) {
  .gallery-item .caption .caption-content .mb-0 {
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}
